.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.message {
  align-self: flex-start;
  color: var(--message-text-color, hsl(0, 0%, 47%));
  font-size: 16px;
}

.error {
  align-self: center;
}
